@import "../../../styles/variables";
@import "../../../styles/mixins";


.button {
    @include block;
    padding: 1rem;
    border-radius: 999px;
    border: 1px solid $brandgreen;
    background-color: $brandgreen;
    color: white;
    outline: none;
    cursor: pointer;

    &:hover {
        background-color: #169c60;
    }
}