@import "../../../styles/variables";
@import "../../../styles/mixins";


.container {
    width: 30%;
    background: #F7F7F7;
    border-radius: $radius;
    padding: 4.5rem 1.5rem;
}

// Media queries
// MQ for medium screens responsive display
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .container {
        width: 40%;
    }
}

// MQ for small screens responsive display
@media only screen and (max-width: 768px) {
    .container {
        width: 100%;
    }
}