@import "../../../styles/variables";
@import "../../../styles/mixins";


.container {
    width: 100%;
    @include font($textnormal, $headertext);
    position: relative;
    label {
        margin-bottom: 0.4rem;
        @include block;
    }

    p {
        @include error-text;
        margin-top: 0.2rem;
    }

    .endAdornment {
        position: absolute;
        top: 2.8rem;
        right: 0.65rem;
        cursor: pointer;
    }

}

.input {
    padding: 1.25rem;
    @include baseinput;
}

.inputAdorned {
    padding: 1.25rem 2.65rem 1.25rem 1.25rem ;
    @include baseinput;
}



