@import "../../../styles/variables";
@import "../../../styles/mixins";


.container {
    width: 100%;
    @include font($textnormal, $headertext);
    position: relative;
    label {
        margin-bottom: 0.4rem;
        @include block;
    }

    p {
        color: #E60A2B;
        font-size: $textsmall;
        margin-top: 0.1875rem;
    }

    .endAdornment {
        position: absolute;
        top: 2.5rem;
        right: 0.65rem;
        cursor: pointer;
    }

}

.input {
    padding: 1rem 2.65rem 1rem 1rem ;
    border-radius: 0.375rem;
    border: 1px solid $headertext;
    outline: 0.25rem solid #F0F0F0;
    @include block;
    
    &:focus {
        outline: 0.25rem solid #F0F0F0;
        border: 1px solid $brandgreen;
    }
}



