@mixin flex-horizontal-center(){
    display: flex;
    align-items: center;
}

@mixin flex-center(){
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin logo-style(){
    margin-bottom: 0.95rem;
    margin-left: -0.65rem;
}

@mixin block(){
    display: block;
    width: 100%;
}

@mixin font($size, $color){
    font-size: $size;
    color: $color;
}

@mixin benefit(){
    @include flex-horizontal-center;
    gap: 1rem;
    border-radius: 1.25rem;
    cursor: pointer;
    margin-bottom: 1.3rem;
    padding: 0.6rem;

    .description {
        @include font($textsmall, $lighttext);
    }

    .textBox {
        @include flex-horizontal-center;
        gap: 1rem;
    }
}

@mixin error-text(){
    color: #E60A2B;
    font-size: $textsmall;
}

@mixin baseinput(){
    border-radius: 0.375rem;
    border: 1px solid $headertext;
    outline: 0.375rem solid #F0F0F0;
    @include block;
    
    &:focus {
        outline: 0.25rem solid #F0F0F0;
        border: 1px solid $brandgreen;
    }
}