$brandgreen:#1CC578;
$headertext:#1A1A1A;
$normaltext:#858585;
$lighttext:#A3A3A3;
$brandpink:#FEF0F2;
$brandpink2:#FEE7EA;
$headersize1: 2rem;
$headersize2: 1.5rem;
$textsmall: 0.75rem;
$textnormal: 1rem;
$radius: 0.75rem;