$brandgreen:#1CC578;
$headertext:#1A1A1A;
$normaltext:#858585;
$lighttext:#A3A3A3;
$brandpink:#FEF0F2;
$brandpink2:#FEE7EA;
$headersize1: 30px;
$headersize2: 24px;
$textsmall: 12px;
$textnormal: 15px;